/*reset stat*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset.......*/

#maneWape{
	margin:0px auto;
	width:100%;
	min-height:100%;
	background:#FFFFFF;
}

#maneHead{
	width: 100%;
	height:75px;
}

#logo{
	width:250px;
	height:75px;
	float:left;
}

#heading{
	width:100%-250px;
	height:75px;
	margin-left:250px;
}

#subHeading1{
	width:100%;
	height: 50px;
	background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#subHeading2{
	width:100%;
	height:20px;
}

.line1{
	width:100%;
	height:5px;
	background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}

#maneBody{
	width:100%;
	/*height:100%;*/
}

#subBody1{
	width:250px;
	/*height:900px;*/
	float:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

#subBody2{
	width:100%-250px;
	/*height:900px*/
	margin-left:250px;
}

#footer{
	width:100%;
	height:20px;
	background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.manuHead{
	margin-left:5px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	color:#000000;
}
.head{
	font-size:25px;
	font-family: "Times New Roman", Times, serif;
	color:#000000;
	margin-left:30px;
	font-weight:bold;
	margin-top:-5px;
}

.head1{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	float:right;
	margin-top:-20px;
	margin-right:5px;
	font-weight:bold;
}
.head2{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	float:right;
	margin-right:5px;
	margin-top:-15px;
}
.line2{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:10px;
}