/*reset stat*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset.......*/

#indexWape{
	margin:0px auto;
	width:960px;
	min-height:430px;
}
#indexWape1{
	margin:0px auto;
	width:960px;
	min-height:430px;
}

#head{
	width:960px;
	height:150px;
	background:#FFFFFF;
}
#head1{
	width:960px;
	height:150px;
	background:#FFFFFF;
}
#logo{
	width:250px;
	height:150px;
	float:left;
}
#logo1{
	width:250px;
	height:150px;
	float:left;
}

#heading{
	width:710px;
	height:150px;
	background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	float:left;
}

#bodyTop{
	width:960px;
	height:75px;
	float:left;
	background:#FFFFFF;
}

.line1{
	width:960px;
	height:5px;
	background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}

.box{
	width:330px;
	height:120px;
	float:left;
}
.box1{
	width:330px;
	height:120px;
	float:left;
}

.indexbody{
	width:300px;
	height:120px;
	float:left;
	background: #d4e4ef; /* Old browsers */
background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4ef), color-stop(100%,#86aecc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* IE10+ */
background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 0px 38px -3px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 38px -3px rgba(0,0,0,1);
box-shadow: 0px 0px 38px -3px rgba(0,0,0,1);
}
.indexbody1{
	width:300px;
	height:200px;
	float:left;
	background: #d4e4ef; /* Old browsers */
background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4ef), color-stop(100%,#86aecc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* IE10+ */
background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 0px 38px -3px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 38px -3px rgba(0,0,0,1);
box-shadow: 0px 0px 38px -3px rgba(0,0,0,1);
}
#bodyfoot{
	width:960px;
	height:40px;
	float:left;
}


.name1{
	margin-left:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

.btn1{
	width:50px;
}
.frm1{
	width:100px;
	height:25px;
	padding-top:2px;
}
.frm2{
	width:200px;
	height:25px;
	padding-top:2px;
}
.headding{
	font-size:30px;
	margin-left:10px;
	margin-top: 100px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
}